name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    container:
      image: fedora:41

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          dnf install -y \
            make \
            gcc \
            pkgconf-pkg-config \
            gtk4-devel \
            gtk4-layer-shell-devel \
            wayland-devel \
            wayland-protocols-devel \
            rustup

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: make ci
        run: make ci
